<form *ngIf="!isLoggedIn" (ngSubmit)="onSubmit()">
  <div class="form-row ">
    <div class="col">
      <div class="input-group">
        <input [(ngModel)]="username" name="username" type="text" class="form-control" id="inlineFormInputGroupUsernameSignup"
          placeholder="Username">
      </div>
    </div>
    <div class="col">
      <input [(ngModel)]="password" default="password" name="password" type="password" class="form-control" id="inlineFormInputNameSignup"
        placeholder="Password">
    </div>
    <div class="col">
      <button type="submit" class="btn btn-primary" id="signUpButton">Sign Up</button>
    </div>
  </div>
</form>
