<form (ngSubmit)="onSubmit()">
  <div class="form-row align-items-center">
    <div class="col-sm-2 col-3 my-1">
      <label class="sr-only" for="inlineFormInputGroupUsername">Username</label>
      <div class="input-group">
        <input [(ngModel)]="username" name="username" type="text" class="form-control" id="inlineFormInputGroupUsernameSignup"
          placeholder="Username">
      </div>
    </div>
    <div class="col-sm-2 col-3 my-1">
      <label class="sr-only" for="inlineFormInputName">Password</label>
      <input [(ngModel)]="password" name="password" type="password" class="form-control" id="inlineFormInputNameSignup"
        placeholder="Password">
    </div>
    <div class="col-auto my-1">
      <button type="submit" class="btn btn-primary">Signup</button>
    </div>
  </div>
</form>
